*{
    padding:0;
    margin:0;
    -webkit-user-select:text;
}
body{
    min-width: 640px;
    /* height:100vh; */
    line-height: .4rem; 
}
.wrap{
    max-width: 640px;
    margin:0 auto;
    padding-top:.88rem;
    box-shadow: 0 -3px 0.03rem 0 rgba(0,0,0,.5);
    min-height: 100vh;
}
.mui-popover.mui-popover-action.mui-active{
    max-width: 640px;
    min-width: 300px;
}
.pswp{
    z-index:10000 !important;
}
.black-color{
    color:#333333;
}